{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table">
        <thead></thead>
        <tbody>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
            {% for row in assets %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["name"] }}</td>
                <td>{{ row["sum_shares"] }}</td>
                <td>{{ row["price"] | usd }}</td>
                <td>{{ row["total"] | usd }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ (cash + total) | usd }}</th>
            </tr>

        </tbody>
    </table>
{% endblock %}
